@font-face {
  font-family: SiYuanMedium;
  src: url("https://mj-system-1308485183.cos.accelerate.myqcloud.com/public/font/MiSans-Medium.ttf");
}

@font-face {
  font-family: SiYuanRegular;
  src: url("https://mj-system-1308485183.cos.accelerate.myqcloud.com/public/font/MiSans-Normal.ttf");
}
