:root {
  --font12: 12px;
  --font14: 14px;
  --font16: 16px;
  --font18: 18px;
  --font20: 20px;
  --auxiliary-b1: #6688ff;
  --auxiliary-b2: #7a97ff;
  --auxiliary-b3: #496ef2;
  --auxiliary-b4: #f2f2f4;
  --auxiliary-b5: #f0f3ff;
  --auxiliary-b6: #e5ebff;
  --auxiliary-b7: #f8f7f7;
  --auxiliary-b8: #fff0f0;
  --auxiliary-b9: #ffe5e6;
  --auxiliary-b10: #f9f9fa;
  --auxiliary-text-t1-d1: #ffffff;
  --auxiliary-text-t1-d2: #6688ff;
  --auxiliary-text-t2-d1: #646566;
  --auxiliary-text-t2-d2: #6688ff;
  --auxiliary-text-t3: #ff5c5e;
  --auxiliary-t4: #d5d6d9;
  --primary-d1: #6688ff;
  --hover-d1: #f3f3f5;
  --hover-d2: #f6f7f9;
  --hover-d3: #f6f7f9;
  --selected: #f0f3ff;
  --gradient: linear-gradient(180deg, #ebefff 0%, rgba(243, 246, 255, 0) 100%);
  --gradient-left: linear-gradient(
    90deg,
    #ebefff 0%,
    rgba(243, 246, 255, 0) 100%
  );
  --primary-d2: #6688ff;
  --active: #ebedf0;
  --neutral-black: #000000;
  --neutral-n1-d1: #323233;
  --neutral-n1-d2: #323233;
  --neutral-n2: #646566;
  --neutral-n3: #969799;
  --neutral-n4: #bbbdbf;
  --neutral-n5: #d5d6d9;
  --neutral-n6-d1: #ecedef;
  --neutral-n6-d2: #ecedef;
  --neutral-n7: #f2f2f4;
  --neutral-n8: #f5f5f7;
  --neutral-n9: #f9f9fa;
  --neutral-white-d1: #ffffff;
  --neutral-white-d2: #ffffff;
  --neutral-white-d3: #ffffff;
  --neutral-white-d4: #ffffff;
  --neutral-white-d5: #ffffff;
  --neutral-white-d6: #ffffff;
  --neutral-n10: #fafafc;
  --neutral-white-d7: #ffffff;
  --function-success: #43ba9a;
  --function-error: #ff5c5e;
  --function-warning: #fa9746;
  --neutral-transparent-n1-d1: rgba(50, 50, 51, 0.4);
  --function-tag1: rgba(161, 118, 251, 0.1);
  --function-tag2: rgba(67, 186, 154, 0.1);
  --function-tag3: rgba(255, 92, 94, 0.1);
  --function-tag4: rgba(250, 151, 70, 0.1);
  --function-tag5: rgba(102, 136, 255, 0.1);
  --function-tag6: rgba(150, 151, 153, 0.1);
}
