.field {
  position: relative;
  width: 100%;
  height: 48px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  border-radius: 4px;
}
.field:hover {
  border: 1px solid #617ef2;
  cursor: pointer;
}

.active {
  border: 1px solid #617ef2;
}

.warning_active {
  border: 1px solid #fabe46;
}

.error_active {
  border: 1px solid #ff5c5e;
}

.input {
  flex: 1;
  margin-left: 15px;
  border: none;
  min-width: 30px;
  color: var(--neutral-n1-d1);
  font-size: 16px;
  font-family: SiYuanMedium;
}

.input:focus {
  outline: none;
}
.input::placeholder {
  color: #bbbdbf;
}

.hint {
  color: red;
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: -15px;
}
